* {
   font-family: Helvetica;
}


html {
	font-size: 14px;
}

body {
	position : absolute;
	width : 99%;
	height : 99%;
	
}

button {
	border: 1px;
	border-radius: 5px;
	padding: 5px 9px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


a:link {
	text-decoration: none;
	color: #74afd2;
}


.top-nav {
   display: inline-block;
   height: 60px;
   line-height: 60px;
   vertical-align: middle;
}

span.top-nav {
   font-size: 36px;
   margin-right:10px;
   height:55px;
}

form.top-nav {
   background-color: white;
   border-radius: 3px;
   border: 1px solid rgb(173, 173, 173);
   height: 28px;
   line-height:28px;
   width: 340px;
}

.top-nav > label {
   display: inline-block;
   padding: 2px 5px 2px 5px;
   margin: 2px;
   height: 22px;
   line-height: 22px;
   background-color: #f2f2f2;
   color: rgb(173, 173, 173);
   font-size: 12px;

}

.none-border-input {
   display:inline-block;
   border: none;
}



.profile-img {
	height: 24px;
	width: 24px;
	align-items: center;
}


.height-60 {
	height: 60px;
}


.flex-spacebtw{
	display: flex;
	justify-content: space-between;		
}

.bgcolour-grey {
	background-color: #ebebeb;
}


.width-70 {
	width: 70%;
	margin: auto;	
}


.width-80-aside {
	width: 80%;
}


.tmpb {
	border: 3px solid aqua;
}



.align-header {
	display: flex;
	align-items: center;
}


.align-header-list > span:first-child {
	margin-right: 100px;
}


.horizontal-list > li {
	display : inline;
/* 	justify-content: flex-start; */
	font-size: 14px;
	font-weight: 700;
	margin: 0 0 0 20px;
}


.repo-title {
	font-weight: 300;
	font-size: 20px;
	margin-left: 5px;
}


.repo-icon {
	font-size: 24px;
	display: flex;
	margin-right: 8px;
}


button {
	border-radius: 3px;
	font-size: 13px;
	background-color: white;
	border: 0.5px solid grey;
	
}

.btn-green {
	background-color: #148a0e;
	color: white;
	
}


.vertical-margin {
	margin: 0 8px 0 8px;
}


.horizontal-margin {
	margin: 8px 0 8px 0;
}


.btn-double {
	border-radius: 5px;
	margin: 0 0 0 13px;	
}

.btn-double > div {
    display: flex;	
    align-items: center;
    padding: 0 8px 0 8px;

}

.btn-double > div:first-child {
    background-color: #eef2f5;
    border: 1px solid #c7cbcd;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 28px;

}

.btn-double > div:last-child {
    border-top: 1px solid #c7cbcd;
    border-bottom: 1px solid #c7cbcd;
    border-right: 1px solid #c7cbcd;
    background-color: white;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 28px;
}


.btn-double-reverse > div {
    display: flex;	
    align-items: center;
    padding: 0 7px;

}


.btn-double-reverse > div:first-child {
    background-color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 28px;
    border: 1px solid #c7cbcd;    
    width: 100%;    
}


.btn-double-reverse > div:last-child {
    background-color: #eef2f5;
    border-top: 1px solid #c7cbcd;
    border-bottom: 1px solid #c7cbcd;
    border-right: 1px solid #c7cbcd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 28px;

}



.span-icon-padding {
	padding: 7px;
}


.icon-grey {
	color: grey;
}


.repo-status {
	height: 40px;
}

.repo-status-detail {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	border: 1px solid #cdcdcd;
	border-bottom: 9px solid #e1d524;
	border-radius: 0.25em;	
}


.repo-status > li {
	display: flex;
	margin: auto;
	font-size: 16px;
}


.repo-status > li > a{	
	color: rgb(59, 65, 71);
}

.table-basic {
	border: 0.1px solid #cdcdcd;	
	border-radius: 0.25em;
	border-collapse: collapse;	
	font-size: 18px;
}


.table-blue{
	background-color: #def5ff;
}


.folder {
	color: #449bff;
}


.margin-20 {
	margin: 20px 0 20px 10px;
	font-size: 20px;
}

.hr-full {
	width: 100%;
}





footer {
	border-top: 2px solid grey;
	font-size: 20px;
	padding: 50px 0;

}


footer > nav > ul > li {
	float: left;
	margin: 0 0 0 10px;
	padding: 0;
	border: 0;	
}


.main-notification {
	display: flex;
	border: 1px solid #cdcdcd;	
	border-radius: 3px 3px 0 0;
	padding: 13px;
}


.notification {
	display: flex;
	background-color: #F0F8FF;
}



.main-notification--right {
	display: flex;
	align-items: baseline;
	margin-left: auto;

}


.main-notification--right > * {
	padding: 0 8px;	
}



.main-list {
	display: flex;
	flex-direction: column;	
}

.main-list > li {
	display: grid;
	grid-template-columns: 40% 30% 30%;
	padding: 13px;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
}


.main-list > li > *:last-child {
	text-align: right;
	color: grey;	
}




.list-icon {
	color: #7F94AF;
	padding-right: 5px;
}

.folder-name {
	display: flex;
	align-items: center;
}

.folder-name > * {
	padding-right: 4px;
}



.main-article {
	display: flex;
	flex-direction: column;
}

.main-article > .article-title {
	display: flex;
	align-items: center;
	border: 1px solid #cdcdcd;
	border-radius: 3px 3px 0 0;
	margin: 0;
	margin-top: 10px;
	padding: 13px;
	font-weight: 500;
	background-color: #FAFBFC;
}

.article-title > *:first-child {
	margin-right: 5px;
}

.main-article > .main-content {
	padding: 0px 35px;
	border: 1px solid #cdcdcd;
	border-top: 0;
	border-radius: 0 0 3px 3px;
}

.markdown-h1 {
	font-size: 40px;
	padding-bottom: 50px; 
	border-bottom: 1px solid #cdcdcd;
}



aside {
	width: 18%;
}


.vert-flexbox-container{
   margin: 15px 0;
   padding: 15px 0;
   border-left: 1px solid #e1e4e8;
}



.vert-flexbox-container > li {
   line-height:40px;
   padding-left: 8px;
/*    border: 1px solid red; */
   display: flex;
   align-items: center;
}

.padding-right {
   padding-right: 8px;
/*    border: 1px solid blue; */
}


.vert-flexbox-container li.active {
   font-weight: bold;
   background: white;
   padding-left: 8px;
   border-radius: 4px;
   border: 1px solid #e1e4e8;
   border-left: 1px solid white;
   border-right: 3px solid orange;
   transform: translate(-3px, 0px);
}

.vert-flexbox-container li.divider {
   border-bottom: 1px solid #e1e4e8;
}


.side-btn {
   margin: 5px 0;
   font-weight: bold;
   font-size: 14px;
   width: 100%;
}


.btn {
   border-radius: 3px;
   display: inline-block;
   font-weight: bold;
   text-align: center;
   border: 1px solid;
}



.split-btn-frame {
   font-size: 14px;
   line-height: 20px;
   border-radius: 3px;
   display: inline-block;
   text-align: center;
   border: 1px solid;
   border-color: rgb(214, 214, 214);
   background: white;   
}


.btn-grey {
   background: linear-gradient(180deg,rgb(236,236,236), rgb(250, 250, 250));
   border-color: rgb(214, 214, 214);
   color: rgb(38, 38, 38);
}


.split-btn-grey {
   padding: 3px 10px;
   background: rgb(236, 236, 236);
   color: rgb(38, 38, 38);
   display: inline-block;
}

.split-btn-white {
   padding:3px 5px;
   background: none;
   color: rgb(38, 38, 38);
   display: inline-block;
}